<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper2.userext.UserExtMapper">

    <resultMap type="org.sang.config.pojo.user.UserExt" id="UserExtMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="statusId" column="status_id" jdbcType="INTEGER"/>
        <result property="userNo" column="user_no" jdbcType="INTEGER"/>
        <result property="userType" column="user_type" jdbcType="INTEGER"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="headImgUrl" column="head_img_url" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selUserExtMapBI" resultMap="UserExtMap">
        SELECT id,gmt_create,gmt_modified,status_id,user_no,user_type
                  ,mobile,sex,age,nickname,head_img_url,remark
        FROM user_ext
        <where>
            <if test="mobile != null and mobile != ''">
                AND mobile=#{mobile}
            </if>

            <if test="nickname != null and nickname != ''">
                AND nickname like '%${nickname}%'
            </if>

            <if test="statusId != null and statusId != ''">
                AND status_id=#{statusId}
            </if>

            <if test="theStartTime != null and theStartTime != '' and theEndOfTime != null and theEndOfTime != ''">
                AND gmt_create BETWEEN #{theStartTime} AND #{theEndOfTime}
            </if>
        </where>
    </select>

    <update id="updateUserExt">
        update lecturer
        <set>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified},
            </if>
            <if test="statusId != null">
                status_id = #{statusId},
            </if>
            <if test="userNo != null">
                user_no = #{userNo},
            </if>
            <if test="userType != null and userType != ''">
                user_type = #{userType},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="sex != null and sex != ''">
                sex = #{sex},
            </if>
            <if test="age != null and age != ''">
                age = #{age},
            </if>
            <if test="nickname != null and nickname != ''">
                nick_name = #{nickname},
            </if>
            <if test="headImgUrl != null">
                head_img_url = #{headImgUrl},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>